{% extends 'base.html' %}

{% block title %}
<title>BRT | {{post.title_tag}}</title>
{% endblock %}

{% block content %}
<h1>{{post.title}}</h1>
<small>By: {{post.author.first_name}} {{post.author.last_name}} | {{post.post_date}}</small>

<hr>
<br/>
{{post.body}}
<br/>
<br/>

<a class="btn btn-primary" href="{% url 'home'%}">Back</a>
<a class="btn btn-warning" href="{% url 'update_post' post.pk %}">Edit</a>
<a class="btn btn-danger" href="{% url 'delete_post' post.pk %}">Delete</a>
{% endblock %}